$color_fondo_transparente: #fc4e5d83;
$color_fondo_transparente_oscuro:rgba(155, 38, 48, 0.514);
$color_fondo_transparente_navbar:rgba(184, 41, 53, 0.822);
$color_fondo_transparente_navbar_botones:rgba(209, 8, 25, 0.822);
$color_blanco_trans:rgba(255, 255, 255, 0.616);